section.about.section
	.container
		.section__title
			.section__title-heading О будущем ученике
			.section__title-description Ребятам из Loftschool будет полезно узнать немного обо мне
		ul.about__list
			li.about__item
				.about__item-left
					img.about__item-svg(src="/assets/img/svg/hello.svg" alt="hello")
				.about__item-right
					.about__title Немного обо мне
					.about__text.secton__text
						p.
							Я живу в Санкт-Петербурге (Россия). Мне 24 года. Высшее образование - закончил НИУ ИТМО (КТУ - направление "Оптотехника"). Веб-разработкой заинтересовался относительно недавно. В августе окончил курсы LevelUP Web Developer, где научился верстке, основам JS и jQuery, PHP и фреймворка Yii.
			li.about__item
				.about__item-left
					img.about__item-svg(src="/assets/img/svg/experience.svg" alt="experience")
				.about__item-right
					.about__title Мой опыт в разработке
					.about__text.secton__text
						p.
							Знаю и умею : html5, css3, основы JS и jQuery, PHP и фреймворка Yii. Кое-как умею пользоваться svg, scss, git, gulp.