section.courses.section
	.container
		.section__title
			.section__title-heading Курсы на loftblog
			.section__title-description которые мне помогут в выполнении этого задания
		ul.courses__list
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/js.jpg")
						.courses__description
							.courses__text
								.courses__title Основы JS
								.courses__text-content.section__text
									p.
										Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
								.courses__duration 24 урока (6 часов 46 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/jquery.jpg")
						.courses__description
							.courses__text
								.courses__title Основы JQUERY
								.courses__text-content.section__text
									p.
										Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
								.courses__duration 24 урока (6 часов 46 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/base.jpg")
						.courses__description
							.courses__text
								.courses__title Базовые элементы страницы
								.courses__text-content.section__text
									p.
										Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.
								.courses__duration 9 уроков (2 часа 7 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/adaptive.jpg")
						.courses__description
							.courses__text
								.courses__title Создание адаптивных сайтов
								.courses__text-content.section__text
									p.
										В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.
								.courses__duration 7 уроков (2 часа 11 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/button.jpg")
						.courses__description
							.courses__text
								.courses__title Основы JS
								.courses__text-content.section__text
									p.
										В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
								.courses__duration 6 уроков (1 час 9 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел
			li.courses__item
				a.courses__link(href="#")
					.courses__shadow
						.courses__img
							img.courses__img-pic(src="/assets/img/content/gallery.jpg")
						.courses__description
							.courses__text
								.courses__title Верстка адаптивной css галереи
								.courses__text-content.section__text
									p.
										В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.
								.courses__duration 4 урока (50 минут)
							.courses__check
								.courses__check-box
									.check
								.courses__check-text Посмотрел


	.courses__message
		i.message-icon.fa.fa-check
		span.message-text Задание выполнено