header.header
	.container
		.header__left
			.user
				.user__avatar
					.user__avatar-pic
						img(src="/assets/img/content/ava-min.jpg" class="user__avatar-img" alt="ava")
				.user__info
					.user__name Свищук Дмитрий Владимирович
					.user__mail
						a(class="user__mail-address" href="mailto: d.svishchuk@gmail.com") d.svishchuk@gmail.com
		.header__right
			.socials
				ul.socials__list
					li.socials__item
						a.socials__link(href="https://github.com/SvishD")
							i.socials__icon.fa.fa-github
					li.socials__item
						a.socials__link(href="skype:d.svishchuk@gmail.com?chat") 
							i.socials__icon.fa.fa-skype
					li.socials__item
						a.socials__link(href="http://vk.com/svishd")
							i.socials__icon.fa.fa-vk

